body{background-color:caffe;}
h1{color:#8B0000;font-size:45px;text-align:center;}
h2{color:darkred;font-size:25px;text-align:center;}
h3{color:darkred;font-size:20px;margin-left: 50px;font-family: Georgia, serif;}
h4{color:#1E1E1E;font-size:18px;font-family: "Papyrus", serif;}
button{width: 210px;height: 50px;font-size: 16px;color:darkred}

button2{width: 210px;height: 50px;font-size: 16px;color:darkred}
button {
  background-color: #B22222; 
  color: white;
  border: none;
  padding: 13px 28px;
  border-radius: 55px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #8B0000; 
}



div img {
  position: relative;
  top: -500px;     
  left: 950px;    
}
div h3 {position: relative;
  top: -430px;     
  left: 5px;}
  div ol {position: relative;
  top: -430px;     
  left: 5px;}

